#main-header img {
    width: 100%;
    height: 100%;
}

/* Color Palette */
.bg-blue1 {
    color: #fff;
    background: #012A4A;
}

.bg-blue2 {
    color: #fff;
    background: #013A63;
}

.bg-blue3 {
    color: #fff;
    background: #01497C;
}

.bg-blue4 {
    color: #fff;
    background: #014F86;
}

.bg-blue5 {
    color: #fff;
    background: #2A6F97;
}

.bg-blue6 {
    color: #fff;
    background: #2C7DA0;
}

.bg-blue7 {
    color: #fff;
    background: #468FAF;
}

.bg-blue8 {
    color: #fff;
    background: #61A5C2;
}

.bg-blue9 {
    color: #fff;
    background: #89C2D9;
}

.bg-blue10 {
    color: #fff;
    background: #A9D6E5;
}

#main-header .port-item {
    width:30%;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media(min-width: 1199px) {
    .port-item {
        padding: 2em !important;
    }
}